<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashboard - Easy Rescue</title>
    <link rel="stylesheet" href="/styles/shelters_style.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
    />
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCPH6B4jd8jNc_azss5c1wkJKFCxa_n29o&loading=async&libraries=places"></script>
    <script src="/script/shelters_script.js"></script>
  </head>

  <body style="background-color: WHITE" onload="initMap()">
    <!-- Nav-bar.EJS-->
    <%- include('../partials/nav-bar') %>

    <!-- Content -->
    <div class="row">
      <div class="left-side">
        <div class="shelter-info">Shelter Locations & Information</div>
      </div>
    </div>

    <!-- The div element where the map will be displayed -->
    <div id="map" style="height: 700px; width: 100%"></div>

    <!-- Table to display nearby schools -->
    <h2>Nearby Facility Details</h2>
    <table id="schools-table">
      <thead>
        <tr>
          <th>School Name</th>
          <th>Address</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <!-- Rows will be dynamically added here -->
      </tbody>
    </table>

    <table style="margin-top: 50px">
      <thead>
        <tr>
          <th>Disaster Name</th>
          <th>Shelter Name</th>
          <th>Shelter Address</th>
          <th>Occupancy</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <% shelters.forEach(shelter => { %>
        <tr>
          <td><%= shelter.disaster_name %></td>
          <td><%= shelter.shelter_name %></td>
          <td><%= shelter.Shelter_address %></td>
          <td><%= shelter.Current_Capacity %></td>
          <td>
            <a
              href="https://www.google.com/maps/dir/?api=1&destination=<%= encodeURIComponent(shelter.Shelter_address) %>"
              target="_blank"
            >
              Get Directions
            </a>
          </td>
        </tr>
        <% }) %>
      </tbody>
    </table>

    <footer class="copyright" style="color: black">
      <p>© 2024, ShelterSafe LLC</p>
    </footer>
  </body>
</html>
