<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Account Settings - ShelterSafe</title>
    <link rel="stylesheet" href="/styles/styles.css" />
    <!-- calling script.js to initialize the map -->
    <script src="/script/script.js" defer></script>
    <%- include('../partials/socket-script') %>
  </head>

  <body style="background-color: WHITE">
    <!-- Nav-bar.EJS-->
    <%- include('../partials/nav-bar') %>

    <h1>Reset Email or Password</h1>
    <form action="/auth/change-email/<%= user_id %>" method="POST">
      <h2>Change Email</h2>
      <label for="old_email">Old Email:</label>
      <input
        type="email"
        name="old_email"
        value="<%= user_email %>"
        required
        readonly
      /><br />

      <label for="new_email">New Email:</label>
      <input type="email" name="new_email" required /><br />

      <label for="password">Password:</label>
      <input type="password" name="password" required /><br />

      <button type="submit">Submit</button>
    </form>

    <!-- reset your password -->
    <form action="/auth/change-password/<%= user_id %>" method="POST">
      <h2>Change Password</h2>

      <label for="password">Current Password:</label>
      <input type="password" name="password" required /><br />

      <label for="new-password">New Password:</label>
      <input type="password" name="new_password" required /><br />

      <button type="submit">Submit</button>
    </form>

    <footer class="copyright" style="color: black">
      <p>© 2024, ShelterSafe LLC</p>
    </footer>
  </body>
</html>
